
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

body {
    background-color: #232323;
    color: #f9f9f9;
}

form {
    width: 50%;
    margin: 3rem auto;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: solid 1px yellow;
}

form span {
    color: aqua;
}

form div {
    display: flex;
    gap: 0.5rem;
}

input {
    background-color: #4a4949;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
}
